  <h1>The Congress Connection Project</h1>

  <div class="description">The Congress Connection Project aims to allow users to explore connections that exist within the U.S. Congress.  Using APIs compiled by the Sunlight Foundation, we have created an interactive network visualization for users to explore.  Press the various connection options to see different data views.</div>

  <div ng-controller="Congress">

    <div network-graph id="network-graph" chart-data="senatordata" ng-click="senatorinfo"></div>


    <!-- Capital Words Search Bar -->
    
    <div class="capwords">
        <input type="text" size="25" placeholder="Search items by tags" data-ng-model="words">
        <button type="submit" ng-click="updatewords()">Search!</button>
    </div>

    <div class="eachsenator"> 
      <div class="senator-images"><img ng-src="/assets/225x275/{{currentsen.bioguide_id}}.jpg"/></div>
      <div class"senator-text">
      <p>Click on an Senator circle </p>
      <p>Name: {{currentsen.senator_name}}<br>
      State:  {{currentsen.state_name}} <br>
      Party: {{currentsen.party}} <br>
      Rank: {{currentsen.rank}} <br>
      Term Started: {{currentsen.term_start}} <br>
      Term Ended: {{currentsen.tern_end}}</p>

      <p>Top 5 words said by this senator: 
        <br>1: {{senwords[0].ngram}}
        <br>2: {{senwords[1].ngram}}
        <br>3: {{senwords[2].ngram}}
        <br>4: {{senwords[3].ngram}}
        <br> 5: {{senwords[4].ngram}}</p>
      </div>
    </div>
 
   



<div word-cloud id="word-cloud"></div> 



  </div>

