<div class="container" ng-controller="Congress">
    
    <h1>The Congress Connection Project</h1>

    <div class="description">The Congress Connection Project aims to allow users to explore connections that exist within the U.S. Congress. Using APIs compiled by the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>, the application is an interactive network visualization linking senators to the committees on which they sit. Currently, the application only contains data from senators in the 113th Congress, which first convened on January 3, 2013, and will end on January 3, 2015.</div>

    <!-- <div class="directions"><em>Place your mouse over a senator node to see the committees that senator sits on. Place your mouse over a committee node to view which senators are members of that committee.</em></div> -->


        <!-- Searches -->

        <div class="searches group">

            <!-- Capital Words Search Bar -->
          
            <div class="capwords">

                <div class="searchHead">Capitol Words Search</div>

                <div class="searchDescription">
                    <em>Type in any word and hit Enter to see the 10 senators that used that word the most in Capitol proceedings.</em> <i class="fa fa-question-circle fa-lg icon" ng-click="capWordsInfoView=true"></i>
                </div>

                <form ng-submit="updatewords()">
                    <input type="text" size="25" placeholder="Search Capitol Words API" data-ng-model="words" class="capWordSearch" ng-submit="updatewords()" />
                    <input type="submit" ng-submit="updatewords()" value="Search" id="searchButton"/>
                </form>

            </div>

            <!-- end Capitol Words Search -->

            <!-- Votes Drop Down Menu -->

            <div class='billCollection'>

                <div class="searchHead">Bills Search</div>

                <div class="searchDescription">
                    <em>Select a bill that passed in the 113th Congress to see which senators voted "yea" for that bill.</em> <i class="fa fa-question-circle fa-lg icon" ng-click="billsInfoView=true"></i>
                </div>

                <select ng-model="billcheck" ng-change="changebill(billcheck)" ng-options="item.bill_id as (item.title) for item in bills" placeholder="Select a Bill">
                    <option value="">Select a Bill</option>
                </select>
            </div>

            <!-- end Votes Drown Down -->

        </div>
        <!-- end of Searches -->


        <!-- Share Links -->

        <div class="share shareTop group">
            
            <div id="email">
                <div class="socialMediaButton">
                    <a href="mailto:?subject=The%20Congress%20Connection%20Project%20&body=http://ccproject.herokuapp.com"></a>
                    <p>Email</p>
                </div>
            </div>

            <div id="twitter">
                <div class="socialMediaButton">
                    <a href="http://twitter.com/share" target="_blank"></a>
                    <p>Tweet</p>
                </div>
            </div>

            <div id="facebook">
                <div class="socialMediaButton">
                    <a href="http://www.facebook.com/sharer/sharer.php?u=ccproject.herokuapp.com&title=The%20Congress%20Connection%20Project" target="_blank"></a>
                    <p>Share</p>
                </div>
            </div>

        </div>

      
        <!-- Visualization Container -->

        <div class="visContainer">

            <!-- Legend -->

            <div legend-canvas id="legend"></div>

            <!-- Network Graph -->

            <div network-graph id="network-graph" chart-data="senatordata" ng-click="senatorinfo"></div>

        </div>

        <!-- Senator Info -->

        <div class="eachSenator" ng-show="senatorActive" ng-class="{zoomIn : senatorActive}"> 
            <div class="minimize" ng-click="minimizeSenator()">X</div>
            <div class="senator-images"><img ng-src="/assets/225x275/{{currentsen.bioguide_id}}.jpg"/></div>
            <div class"senator-text">
            <h3>{{currentsen.senator_name}}</h3>
            <div class="state" ng-class="{democrat : currentsen.party == 'D', republican : currentsen.party == 'R'}">{{currentsen.party}}, {{currentsen.state_name}}</div>
            <div term-graph id="term-graph"></div>

            <div class="words" ng-show="senwords.length">Top 5 Words:
            <br>{{senwords[0].ngram}}, {{senwords[1].ngram}}, {{senwords[2].ngram}}, {{senwords[3].ngram}}, {{senwords[4].ngram}}</div>
            </div>
        </div>


        <!-- Infobox Modals -->

        <!-- Cap Words Infobox -->

        <div id="capWordsInfoBox" class="infoBox" ng-show="capWordsInfoView" ng-class="{fadeInUp : capWordsInfoView }">

            <div class="closeWindow" ng-click="capWordsInfoView=false">X</div>

            <h3>Capitol Words Search</h3>

            <hr></hr>

            <div class="infoBoxDiv">
                The Capitol Words Search utilizes the Sunlight Foundation's <a href="http://sunlightlabs.github.io/Capitol-Words/" target="_blank">Capitol Words API</a>, which gives the public access to the <a href="http://thomas.loc.gov/home/abt.cong.rec.html" target="_blank"><em>Congressional Record</em></a>, a written record of every word spoken in Congressional proceedings. The <em>Congressional Record</em> is published on a daily basis by the <a href="http://www.gpo.gov/" target="_blank">Government Printing Office</a>.
            </div>
            <div class="infoBoxDiv">
                The Congress Connection Project currently only searches for words spoken by senators during the 113th Congress.
            </div>
            <div class="infoBoxDiv">
                For more information on the Sunlight Foundation's Capitol Words API, visit the <a href="http://capitolwords.org/?terma=global+warming&termb=climate+change" target="_blank">project page</a>.
            </div>

        </div>

        <!-- Cap Words Infobox -->

        <div id="billsInfoBox" class="infoBox" ng-show="billsInfoView" ng-class="{fadeInUp : billsInfoView }">

            <div class="closeWindow" ng-click="billsInfoView=false">X</div>

            <h3>Bills Search</h3>

            <hr></hr>

            <div class="infoBoxDiv">
               The bills search allows users to search through a database of a selection of bills passed by the 113th Congress. When a user selects a bill, it returns all of the senators that voted "yea" for that given bill. The bills currently in the database were collected using the Sunlight Foundation's <a href="https://sunlightlabs.github.io/congress/" target="_blank">Congress API</a>.
            </div>

        </div>

        <!-- About Section -->

        <div class="about">

            <h4>About the Project</h4>

            <p>The Congress Connection Project was produced by <a href="https://github.com/nickmro" target="_blank">Nick Mrozowski</a>, <a href="https://github.com/teachMeCode" target="_blank">Brian Purcell</a>, and <a href="https://github.com/riachkyle" target="_blank">Kyle Riach</a> as students in General Assembly's <a href="https://generalassemb.ly/education/web-development-immersive" target="_blank">Web Development Immersive</a> course. Learn more about the project, its methodology, and technologies used at the project's <a href="https://github.com/riachkyle/Congress-Connections" target="_blank">GitHub page</a>.</p>

        </div>

        <!-- Share Links Footer -->

        <div class="share shareBottom group">
            
            <div id="email">
                <div class="socialMediaButton">
                    <a href="mailto:?subject=The%20Congress%20Connection%20Project%20&body=http://ccproject.herokuapp.com"></a>
                    <p>Email</p>
                </div>
            </div>

            <div id="twitter">
                <div class="socialMediaButton">
                    <a href="http://twitter.com/share" target="_blank"></a>
                    <p>Tweet</p>
                </div>
            </div>

            <div id="facebook">
                <div class="socialMediaButton">
                    <a href="http://www.facebook.com/sharer/sharer.php?u=ccproject.herokuapp.com&title=The%20Congress%20Connection%20Project" target="_blank"></a>
                    <p>Share</p>
                </div>
            </div>

        </div>

    <div class="darkenWindow" ng-show="capWordsInfoView || billsInfoView"></div>

</div>

